/* ------------------------------------------------------------------------------- */
/* -------------------- ** KEYFRAMES ** ----------------------- */
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  20% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  100% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  20% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  100% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
}

@-webkit-keyframes piscaErrado {
  0% {
    background: #ff3232;
    color: black;
  }
  50% {
    background: transparent;
    color: black;
  }
  100% {
    background: #ff3232;
    color: black;
  }
}

@keyframes piscaErrado {
  0% {
    background: #ff3232;
    color: black;
  }
  50% {
    background: transparent;
    color: black;
  }
  100% {
    background: #ff3232;
    color: black;
  }
}

@-webkit-keyframes piscaCerta {
  0% {
    background: #47ff47;
    color: black;
  }
  50% {
    background: transparent;
    color: black;
  }
  100% {
    background: #21d421;
    color: black;
  }
}

@keyframes piscaCerta {
  0% {
    background: #47ff47;
    color: black;
  }
  50% {
    background: transparent;
    color: black;
  }
  100% {
    background: #21d421;
    color: black;
  }
}

/* ------------------------------------------------------------------------------- */
/* -------------------- ** MAIN ** ----------------------- */
/* CAMPO RESPOSTAS */
.resposta:hover {
  background-color: #ff4929;
  color: white;
  -webkit-box-shadow: 0px 0px 25px rgba(51, 51, 51, 0.7);
          box-shadow: 0px 0px 25px rgba(51, 51, 51, 0.7);
  border: rgba(0, 0, 0, 0.357);
  border-radius: 8px;
  outline: none;
}

.resposta:focus {
  outline: none;
  -webkit-animation: rotate 1.0s linear infinite;
          animation: rotate 1.0s linear infinite;
}

.selecionada {
  background-color: #fdc611;
  display: block;
  border: 1px solid black;
  padding: 0px 20px 0px 20px;
  margin: auto auto;
  margin: 0px 0px 15px 0px;
  width: auto;
  min-width: 100%;
  height: 60px;
  -webkit-transition: .5s;
  transition: .5s;
}

.selecionada:hover {
  background-color: #fdc611;
  color: black;
}

.selecionada:focus {
  outline: none;
  -webkit-animation: rotate 1.0s linear infinite;
          animation: rotate 1.0s linear infinite;
}

.errada {
  background-color: #ff3232;
  color: white;
  -webkit-animation: piscaErrado .5s infinite;
          animation: piscaErrado .5s infinite;
}

.correta {
  background-color: #47ff47;
  color: white;
  -webkit-animation: piscaCerta .5s infinite;
          animation: piscaCerta .5s infinite;
}

/* ------------------------------------------------------------------------------- */
#novoJogo:hover {
  background-color: #fdc611;
  -webkit-box-shadow: 0px 0px 25px rgba(51, 51, 51, 0.7);
          box-shadow: 0px 0px 25px rgba(51, 51, 51, 0.7);
  color: black;
}

/* ------------------------------------------------------------------------------- */
/* -------------------- ** FOOTER ** ----------------------- */
#verific:hover {
  background-color: #fdc611;
  color: #333;
  -webkit-box-shadow: 0px 0px 10px #333;
          box-shadow: 0px 0px 10px #333;
  -webkit-transition: .5s;
  transition: .5s;
}

#end:hover {
  background-color: #fc1505;
  color: #ffffff;
  -webkit-box-shadow: 0px 0px 15px #1f1f1f;
          box-shadow: 0px 0px 15px #1f1f1f;
  -webkit-transition: .5s;
  transition: .5s;
}
/* ------------------------------------------------------------------------------- */
/*# sourceMappingURL=effects.css.map */