/* ------------------------------------------------------------------------------- */
/* -------------------- ** KEYFRAMES ** ----------------------- */
@-webkit-keyframes rotate {
  0% {
    transform: rotate(-1deg);
  }
  20% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(-1deg);
  }
  20% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}
@-webkit-keyframes piscaErrado {
  0% {
    background: rgb(255, 50, 50);
    color: black;
  }
  50% {
    background: transparent;
    color: black;
  }
  100% {
    background: rgb(255, 50, 50);
    color: black;
  }
}
@keyframes piscaErrado {
  0% {
    background: rgb(255, 50, 50);
    color: black;
  }
  50% {
    background: transparent;
    color: black;
  }
  100% {
    background: rgb(255, 50, 50);
    color: black;
  }
}
@-webkit-keyframes piscaCerta {
  0% {
    background: rgb(71, 255, 71);
    color: black;
  }
  50% {
    background: transparent;
    color: black;
  }
  100% {
    background: rgb(33, 212, 33);
    color: black;
  }
}
@keyframes piscaCerta {
  0% {
    background: rgb(71, 255, 71);
    color: black;
  }
  50% {
    background: transparent;
    color: black;
  }
  100% {
    background: rgb(33, 212, 33);
    color: black;
  }
}
/* ------------------------------------------------------------------------------- */
/* -------------------- ** MAIN ** ----------------------- */
/* CAMPO RESPOSTAS */
.resposta:hover {
  background-color: rgb(41, 73, 255);
  color: white;
  box-shadow: 0px 0px 25px rgba(51, 51, 51, 0.7);
  border: rgba(0, 0, 0, 0.357);
  border-radius: 8px;
  outline: none;
}

.resposta:focus {
  outline: none;
  -webkit-animation: rotate 1s linear infinite;
          animation: rotate 1s linear infinite;
}

.selecionada {
  background-color: rgb(253, 198, 17);
  display: block;
  border: 1px solid black;
  padding: 0px 20px 0px 20px;
  margin: auto auto;
  margin: 0px 0px 15px 0px;
  width: auto;
  min-width: 100%;
  height: 40px;
  transition: 0.5s;
}

.selecionada:hover {
  background-color: rgb(253, 198, 17);
  color: black;
}

.selecionada:focus {
  outline: none;
  -webkit-animation: rotate 1s linear infinite;
          animation: rotate 1s linear infinite;
}

.errada {
  background-color: rgb(255, 50, 50);
  color: white;
  -webkit-animation: piscaErrado 0.5s infinite;
          animation: piscaErrado 0.5s infinite;
}

.correta {
  background-color: rgb(71, 255, 71);
  color: white;
  -webkit-animation: piscaCerta 0.5s infinite;
          animation: piscaCerta 0.5s infinite;
}

/* ------------------------------------------------------------------------------- */
#novoJogo:hover {
  background-color: rgb(253, 198, 17);
  box-shadow: 0px 0px 25px rgba(51, 51, 51, 0.7);
  color: black;
}

/* ------------------------------------------------------------------------------- */
/* -------------------- ** FOOTER ** ----------------------- */
#verific:hover {
  background-color: rgb(253, 198, 17);
  color: #333;
  box-shadow: 0px 0px 10px #333;
  transition: 0.5s;
}

/* ------------------------------------------------------------------------------- *//*# sourceMappingURL=effects.css.map */