@media (max-width: 1024px) {

    h3 { 

        font-size: 18px;
        font-weight: bold;
        margin: auto auto;

    };

    .table {
    
        transform: scale(0.98)

    };
    
    .resposta {

        font-size: 14px

    };

    #verific {
        
        width: 400px;
        height: 40px;
        margin-top: 35px;
    
    };

    #desempenho {

        font-size: 24px;

    };

}

@media (max-width: 991px) {

    h2 {

        font-size: 17px;

    };

    #verific {

        transform: scale(0.8)

    };

    .resposta {

        font-size: 11px

    };

}

@media (max-width: 768px) {

    h2 {

        font-size: 16px;
        
    };

    #verific {
        
        width: 250px;
        height: 40px;
    
    };

    .table {
    
        transform: scale(0.8)

    };
    
}

@media (max-width: 540px) {

    h2 {

        font-size: 13px;
        
    };

    .quiz {

        transform: scale(.95);

    };

    .resposta {

        height: 30px;

    };

    h3 { 

        font-size: 14px;

    };

    .table {
    
        transform: scale(0.7);
        margin: 15px 0px 10px 0px;

    };

    #respostas {

        margin: 10px 20px 0px 20px;

    };

    #verific {

        margin: 20px 0px 10px 0px;

    };

    #desempenho {

        font-size: 20px;

    };

    #novoJogo {

        width: 300px;
        height: 40px;

    };


}

@media (max-width: 460px) {

    h2 {

        font-size: 10px;
        
    };

    .resposta {
        
        font-size: 7px

    };

    h3 { 

        font-size: 12px;

    };

    .table {
    
        transform: scale(0.7);
        margin: 10px 0px 10px 0px;

    };

    #respostas {

        margin: 10px 20px 0px 20px;

    };

    #verific {

        margin: 15px 0px 10px 0px;

    };

    #desempenho {

        font-size: 12px;

    };

    #novoJogo {

        width: 200px;
        height: 35px;

    };
    
}

@media (max-width: 340px) {

    h2 {

        font-size: 9px;
        
    };

    .quiz {

        transform: scale(.93);

    };

    .resposta {

        font-size: 6px

    };

    h3 { 

        font-size: 10px;

    };

    .table {
    
        transform: scale(0.5);
        margin: 10px 0px 10px 0px;

    };

    #desempenho {

        font-size: 12px;

    };

}

@media (max-width: 280px) {

    h2 {

        font-size: 6px;
        
    };

    .quiz {

        transform: scale(.90);

    };

    .resposta {

        height: 23px;
        font-size: 4px

    };

    h3 { 

        font-size: 8px;

    };

    .table {
    
        transform: scale(0.4);

    };

    #novoJogo {

        width: 100px;
        height: 30px;

    };

}